.Username_and_canvas {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.Username {
  width: 500px;
  height: 50px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border: solid 1px #fff;
  background-color: #102c60;
}

.USER_canvas_span {
  width: 191px;
  height: 40px;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 28.4px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.canvas {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  border-radius: 15px;
  border: solid 2px #272833;
  background-color: #fff;
}

/* 230211 재형 작업 CSS 추가 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image sidebar"
    "slider sidebar";
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: #fff;
}

.container .uploaded-image {
  width: auto;
  height: auto;
  margin: 10px;
  position: relative;
}

/* .uploaded-image canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
} */

/* .main-image {
  grid-area: image;
  background-image: url("https://source.unsplash.com/EwKXn5CapA4");
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
} */

.main-image {
  cursor: pointer;
}

.input[type="file"] {
  display: none;
}

.sidebar {
  grid-area: sidebar;
  background-color: hsl(265, 100%, 86%);
  border-left: 1px solid hsl(265, 100%, 56%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 15px;
}

.sidebar-item {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: hsl(265, 100%, 86%);
  padding: 1rem;
  position: relative;
  border-radius: 15px 15px 0px 0px;
  transition: background-color 150ms;
}

.sidebar-item:hover,
.sidebar-item:focus {
  background-color: hsl(265, 100%, 76%);
}

.sidebar-item.active {
  background-color: hsl(265, 100%, 70%);
}

.sidebar-item::after {
  content: "";
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  height: 1px;
  background-color: hsl(265, 100%, 46%);
}

.sidebar-item:last-child::after {
  display: none;
}

.slider-container {
  grid-area: slider;
  margin-top: 2rem;
  padding: 2rem;
}

.slider {
  width: 100%;
  cursor: pointer;
}

.toPlaylist {
  width: 500px;
  height: 63px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px 0;
  border-radius: 20px;
  background-color: #0070d2;
}

.play-button-o {
  width: 48px;
  height: 48px;
  flex-grow: 0;
  background-color: transparent;
}

.playlist_label {
  width: 239px;
  height: 53px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 37.9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
