.Username_and_canvas {
  position: relative;

  width: 65%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  background-color: #1c1c26;
}

.EditButtons {
  position: relative;
  top: -40px;
  height: 80px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-radius: 15px;
  background-color: #272731;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /* gap: 20px; */
}

.sidebar-item {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem;
  position: relative;
  border-radius: 10px;
  /* transition: background-color 150ms; */
  background-color: transparent;
}

.sidebar-item:hover,
.sidebar-item:focus {
  background-color: #a6a6a6;
}

.sidebar-item.active {
  background-color: #a6a6a6;
}

/* .sidebar-item::after {
  content: "";
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  height: 1px;
  background-color: hsl(265, 100%, 46%);
} */

/* .canvas {
  width: 100%;
  height: 75%;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  border-radius: 15px;
  border: solid 2px #272833;
} */

/* 230211 재형 작업 CSS 추가 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* .container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image sidebar"
    "slider sidebar";
  height: 100%;
  width: 100%;
  border-top: solid 2px rgba(231, 207, 207, 0.1);
  background-color: #272833;
  padding: 15px;
} */

.container .uploaded-image {
  width: auto;
  height: auto;
  margin: auto;
}
.container .effect-modal {
  /* overflow: auto y; */
  width: auto;
  height: auto;
  margin: 10px;
  position: relative;
}
.container .effect-list {
  overflow: auto;
  width: auto;
  height: 100%;
  margin: 10px;
  position: relative;
}

.container .transition-modal {
  /* overflow: auto y; */
  width: auto;
  height: auto;
  margin: 10px;
  position: relative;
}
.container .transition-list {
  overflow: auto;
  width: auto;
  height: 40%;
  margin: 10px;
  position: relative;
}
/* .container .v-line {
  border-left: thin solid gray;
  height: auto;
} */
.container .transition-clip {
  width: auto;
  /* height: 60%; */
  margin: 10px;
  position: relative;
}

.main-image {
  cursor: pointer;
}

.input[type="file"] {
  display: none;
}
