/* 230211 수정 css */
/* 230224 수정 css */
.title_and_photobox {
  width: 500px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  padding: 40px 20px;
  background-color: #272731;
}

.title_mode {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.fileupload_title {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  width: 45%;
  height: 50px;
  cursor: pointer;

  background: #272833;
  /* 1min/navy */
  border-bottom: solid 3px #fff;
}

.cloud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 36px;
  height: 26.23px;
}

img.cloud {
  width: 36px;
  height: 26.2px;
  flex-grow: 0;
  object-fit: contain;
}

.cloud_span {
  height: 40px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 28.4px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
}

.PhotoBox {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  background-color: #272731;
}

.Photos_and_Button {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;
  padding: 0;
}

.upload_Photos {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;
  padding: 10px;
  background-color: #1c1c26;
}

.upload_Photos_layout {
  width: 549px;
  height: 80px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  padding: 0;
}

.upload_img {
  width: 120px;
  height: 80px;
  object-fit: contain;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  row-gap: 3px;
  background-color: black;
}
.upload_img:hover {
  transform: scale(1.4);
}

.select_img {
  object-fit: contain;

  width: 120px;
  height: 80px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  row-gap: 3px;
  border: solid 5px #e2f01d;
  background-color: black;
}

.PhotoBox-Button {
  height: 60px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  border-radius: 15px;
  background-color: #272731;
}

.upload_button {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: solid 1px #565656;
}

.uploadinput {
  opacity: 0;
  display: none;
}

/* img.software-upload {
  width: 48px;
  height: 48px;
  flex-grow: 0;
  object-fit: contain;
  transform: rotate(-180deg);
} */

/* .delete_label {
  width: 56px;
  height: 28px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
} */

img.trash {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  object-fit: contain;
  transform: rotate(-180deg);
}

.delete_button {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* .filterButton {
  width: 250px;
  height: 38px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #2b2b2b;
} */

/* .filter_label {
  width: 201px;
  height: 28px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
} */

/* img.filters {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  object-fit: contain;
  transform: rotate(-180deg);
} */
/* 
.Work_and_arrow {
  width: 60px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 0;
}

.Work {
  width: 44px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0;
  background-color: #0070d2;
}

.work_label {
  width: 23px;
  height: 136px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
} */
/* 
img.image {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  object-fit: contain;
} */
/* 
.Arrow {
  width: 28px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #7da8f7;
  border-radius: 0px 10px 10px 0px;
}

img.Icon-Arrow {
  width: 42px;
  height: 48px;
  flex-grow: 0;
  object-fit: contain;
} */
/* 
.USER_canvan_span {
  width: 191px;
  height: 40px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 28.4px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
} */
