/* 230211 수정 css */
/* 230224 수정 css */
.title_and_photobox {
  width: 35%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* padding: 5px; */
  border-right: rgba(231, 207, 207, 0.1);
  border-right-width: 1px;
  border-right-style: solid;
}

.fileupload_title {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  margin-top: 10px;

  width: 550px;
  height: 50px;

  background: #272833;
  /* 1min/navy */

  border-width: 3px 3px 0px 3px;
  border-style: solid;
  border-color: rgba(231, 207, 207, 0.1);
  border-radius: 10px 10px 0px 0px;
}

.cloud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 36px;
  height: 26.23px;
}

img.cloud {
  width: 36px;
  height: 26.2px;
  flex-grow: 0;
  object-fit: contain;
}

.cloud_span {
  height: 40px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 28.4px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: skyblue;
}

.PhotoBox {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  border-top: solid 2px rgba(231, 207, 207, 0.1);
  background-color: #272833;
}

.Photos_and_Button {
  height: 100%;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 15px;
  gap: 15px;
}

.upload_Photos {
  height: 100%;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  background-color: rgba(59, 61, 85, 0.306);
  border: solid 1px rgba(231, 207, 207, 0.1);
  border-radius: 15px;
  overflow-y: auto;
  flex-wrap: wrap;
}

.upload_Photos_layout {
  width: 549px;
  height: 80px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  padding: 0;
}

.upload_img {
  width: 120px;
  height: 80px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  row-gap: 3px;
  background-color: #d9e8ef;
}
.upload_img:hover {
  transform: scale(1.4);
}

.select_img {
  width: 120px;
  height: 80px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  row-gap: 3px;
  border: solid 5px #e2f01d;
  background-color: #d9e8ef;
}

.PhotoBox-Button {
  height: 48px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-radius: 15px;
  border: solid 1px #272833;
}

.upload_button {
  width: 40%;
  height: 38px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  /* border-radius: 30px; */
  cursor: pointer;
}

.uploadinput {
  opacity: 0;
  display: none;
}

img.software-upload {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  object-fit: contain;
  transform: rotate(-180deg);
}

.delete_label {
  width: 56px;
  height: 28px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

img.trash {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  object-fit: contain;
  transform: rotate(-180deg);
}

.delete_button {
  width: 40%;
  height: 38px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 30px;
  border-color: red;
  cursor: pointer;
}

.filterButton {
  width: 250px;
  height: 38px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #2b2b2b;
}

.filter_label {
  width: 201px;
  height: 28px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

img.filters {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  object-fit: contain;
  transform: rotate(-180deg);
}

.Work_and_arrow {
  width: 60px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 0;
}

.Work {
  width: 44px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0;
  background-color: #0070d2;
}

.work_label {
  width: 23px;
  height: 136px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

img.image {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  object-fit: contain;
}

.Arrow {
  width: 28px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #7da8f7;
  border-radius: 0px 10px 10px 0px;
}

img.Icon-Arrow {
  width: 42px;
  height: 48px;
  flex-grow: 0;
  object-fit: contain;
}

.USER_canvan_span {
  width: 191px;
  height: 40px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 28.4px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
