/* .closed_photobox_group {
  height: 130px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.closed_photobox {
  height: 130px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  border-radius: 15px;
  background-color: #d9e8ef;
}

.closed_preview_photos {
  height: 96px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  padding: 5px;
  border: solid 2px #272833;
}

.open_and_work {
  width: 100px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.open_button {
  width: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background: transparent;
  border: none;
}

img.Icon-Arrow {
  width: 60px;
  height: 78px;
  flex-grow: 0;
  object-fit: contain;
}

.work_layout {
  width: 94px;
  height: 38px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.work_button_group {
  width: 94px;
  height: 38px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.work_button {
  width: 94px;
  height: 38px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #0070d2;
}

.work_label {
  width: 74px;
  height: 28px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
} */

/* 230211 수정 css */
.PhotoBox {
  width: 660px;
  height: 820px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  padding: 10px;
  border-radius: 15px;
  border: solid 2px #272833;
  background-color: #d9e8ef;
}

.PhotosButton {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
}

.upload_Photos {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  padding: 10px;
  border: solid 1px #272833;
}

.upload_Photos_layout {
  width: 549px;
  height: 80px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 23px;
  padding: 0;
}

.upload_img {
  width: 120px;
  height: 80px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  border: solid 1px #000;
  background-color: #d9e8ef;
}
