.ROOM-BODY-WorkStation {
  height: 900px;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0;
  background-color: #272833;
}
