.ROOM-BODY-CANVAS {
  height: 900px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 30px;
  padding: 40px 80px;
  background-color: #d9e8ef;
}

.min-PhotoBoxGroup {
  height: 130px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.min-PhotoBox {
  height: 130px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  border-radius: 15px;
  background-color: #d9e8ef;
}

.Photos {
  height: 96px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  padding: 5px;
  border: solid 2px #272833;
}

.OpenWork {
  width: 100px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.OpenUploadFrame {
  width: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

img.Icon-Arrow {
  width: 60px;
  height: 78px;
  flex-grow: 0;
  object-fit: contain;
}

.min-invite {
  width: 94px;
  height: 38px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.min-ButtonGroup {
  width: 94px;
  height: 38px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.min-Button {
  width: 94px;
  height: 38px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #0070d2;
}

.worklabel {
  width: 74px;
  height: 28px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.SelectedPhoto {
  height: 580px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
  border-radius: 15px;
  border: solid 1px #272833;
}

.EffectBox {
  height: 71.4px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0;
}

.Effects {
  width: 350px;
  height: 71.4px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 10px;
  border-radius: 30px;
  background-color: #d9e8ef;
}

.Finished {
  width: 291px;
  height: 70px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  background-color: #d9e8ef;
}

.effect {
  width: 70px;
  height: 51.4px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.brush {
  width: 40px;
  height: 51.4px;
  flex-grow: 0;
  /* background-color: #272833; */
}

.min-Button2 {
  width: 271px;
  height: 49px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #174291;
}

.min-ButtonGroup2 {
  width: 271px;
  height: 50px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

img.arrow-down-o {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  object-fit: contain;
  transform: rotate(-180deg);
}

.playlabel {
  width: 222px;
  height: 39px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
