.logininner {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 0px;
  gap: 80px;

  width: 360px;
  height: 357px;

  border: 1px solid rgba(39, 40, 51, 0.3);
  border-radius: 40px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.logininner h1 {
  width: 360px;
  height: 46px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  /* identical to box height, or 71% */

  text-align: center;

  /* 1min/navy */

  color: #272833;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.logininner p {
  width: 360px;
  height: 21px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  /* identical to box height, or 88% */

  text-align: center;

  /* 1min/navy */

  color: #272833;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 360px;
  height: 107px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.kakaologo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 360px;
  height: 70px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
