.ROOM-FOOTER {
  width: 100%;
  height: 240px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.ROOM-FOOTER-TEST {
  width: 80%;
  height: 240px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 5px 20px;
  border: solid 1px #272833;
  background-color: #d9e8ef;
}

.insert_music_button {
  width: 79px;
  height: 74px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  background-color: #7c3aed;
}

.insert_music_icon {
  width: 32px;
  height: 32px;
  flex-grow: 0;
  /* background-color: #fff; */
}

.music_span {
  width: 59px;
  height: 22px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.ROOM-FOOTER-BUTTONS {
  width: 280px;
  height: 240px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  /* padding: 20px 40px; */
  border: solid 1px #d9e8ef;
  background-color: #272833;
}

.finished_layout {
  height: 142px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
}

.preview_button_group {
  width: 123px;
  height: 38px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.preview_button {
  width: 123px;
  height: 38px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #ed7566;
}

.preview_label {
  width: 74px;
  height: 28px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

img.polaroid {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  object-fit: contain;
  transform: rotate(-180deg);
}

.render_button_group {
  width: 116px;
  height: 44px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.render_button {
  width: 116px;
  height: 44px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 2px #e74733;
  background-color: #ffc043;
}

img.infinity {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  object-fit: contain;
  transform: rotate(-180deg);
}

.render_label {
  width: 67px;
  height: 34px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #272833;
}

.TimeandBar {
  height: 90px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding: 50 0 0 0px;
}

.TimeBar {
  height: 40px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
}
/* .TimeBar .timediv{
  width: 100%;
  display: flex;
  justify-content: center;
} */

.time {
  height: 34px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}

.start {
  width: 55px;
  height: 34px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 21.3px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.end {
  width: 52px;
  height: 34px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 21.3px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.SoundTrack {
  max-width: calc(100% - 40px);
  overflow: auto;
}

/* .LineA {
  width: 1px;
  height: 40px;
  flex-grow: 0;
  transform: rotate(-90deg);
  background-color: #272833;
}

.LineB {
  width: 1px;
  height: 20px;
  flex-grow: 0;
  transform: rotate(-90deg);
  background-color: #000;
}

.LineC {
  width: 1px;
  height: 10px;
  flex-grow: 0;
  transform: rotate(-90deg);
  background-color: #000;
} */
