/* 2302225 정근 수정 */
.Preset {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 180px;
  height: 66.67px;
}

.Music {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 40px;
  height: 40px;
}

.preset_span {
  width: 74px;
  height: 40px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 28.4px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #e1e1e1;
}

.Rendering {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 180px;
  height: 66.67px;
}

.render_span {
  width: 74px;
  height: 40px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 28.4px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #e1e1e1;
}

.RenderIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 40px;
  height: 40px;
}

.EditDisc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 200px;
  height: 66.67px;

  /* blue/700 */

  background: #174291;
  /* blue/800 */

  border: 2px solid #102c60;
  border-radius: 10px;
  cursor: pointer;
}

.EditDisc_fin {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;

  position: relative;
  width: 200px;
  height: 66.67px;

  /* green/600 */

  background: #036d3a;
  /* green/700 */

  border: 2px solid #02522b;
  border-radius: 10px;
}

.EditDisc_disable {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;

  position: relative;
  width: 200px;
  height: 66.67px;

  /* red/700 */

  background: #870f00;
  /* red/800 */

  border: 2px solid #5a0a00;
  border-radius: 10px;
}

.EditDisc_label {
  height: 40px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 28.43px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
/* 2302225 정근 수정 */

.ROOM-FOOTER {
  width: 1920px;
  height: 300px;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 0 40px 40px;
  background-color: #17171e;
}

/* .permission_button_group {
  width: 190px;
  height: 30px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
} */

/* .permission_button_disable {
  width: 200px;
  height: 66.67px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 2px #e74733;
  background-color: #e74733;
}
.permission_button {
  width: 200px;
  height: 66.67px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 2px #e74733;
  background-color: #ffc043;
  cursor: pointer;
} */

/* .permission_label_able {
  height: 28px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: black;
  cursor: pointer;
} */

.ROOM-FOOTER-TEST {
  width: 85%;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0 20px;
  background-color: #17171e;
}

.insert_music_button {
  width: 79px;
  height: 74px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  background-color: #7c3aed;
}

.insert_music_icon {
  width: 32px;
  height: 32px;
  flex-grow: 0;
  /* background-color: #fff; */
}

.music_span {
  width: 59px;
  height: 22px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.ROOM-FOOTER-BUTTONS {
  width: 15%;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  background-color: #17171e;
}

.finished_layout {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
}

/* .render_button_group {
  width: 116px;
  height: 44px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
} */

.render_button {
  width: 116px;
  height: 44px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 2px #e74733;
  background-color: #ffc043;
}

/* img.infinity {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  object-fit: contain;
  transform: rotate(-180deg);
} */

.render_label {
  width: 67px;
  height: 34px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #272833;
}

.TimeandBar {
  height: 20%;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding: 50 0 0 0px;
}

.TimeBar {
  height: 30px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.time {
  height: 34px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}

.start {
  width: 55px;
  height: 34px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 21.3px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #e1e1e1;
}

.end {
  width: 52px;
  height: 34px;
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 21.3px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #e1e1e1;
}
.SoundTrack {
  max-width: calc(100% - 40px);
  overflow: auto;
}

/* .LineA {
  width: 1px;
  height: 40px;
  flex-grow: 0;
  transform: rotate(-90deg);
  background-color: #272833;
}

.LineB {
  width: 1px;
  height: 20px;
  flex-grow: 0;
  transform: rotate(-90deg);
  background-color: #000;
}

.LineC {
  width: 1px;
  height: 10px;
  flex-grow: 0;
  transform: rotate(-90deg);
  background-color: #000;
} */
