.toplay_img {
  height: 100%;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  row-gap: 0px;
  border: solid 1px #000;
  background-color: #d9e8ef;
}
.playlist_space{
  display: flex;
  flex-grow: 1;
}

.selecttoplay_img {
  height: 100%;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  row-gap: 0px;
  border: solid 3px #e2e447;
  background-color: #d9e8ef;
}
.selecttoplay_img .del{
  position: relative;
  background: none;
  bottom: 30px;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}
.selecttoplay_img .plus{
  position: relative;
  background: none;
  align-self: flex-end;
  border: none;
  color: rgb(242, 254, 0);
  font-size: 16px;
  cursor: pointer;
}
.selecttoplay_img .minus{
  position: relative;
  background: none;
  align-self: flex-start;
  border: none;
  color: rgb(242, 254, 0);
  font-size: 16px;
  cursor: pointer;
}

.toplay_block {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  row-gap: 0px;
  border: solid 0px #000;
  background-color: #d9e8ef;
  height: "auto";
  background-image: "url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEn2ghVyIoZtY3BlVZuQ3t3go3pzU9x01velOwEQwa1vCsS43aDfj4p0hZOMzw3Cj558I&usqp=CAU)";
  background-size: contain;
  opacity: 0;
  background-repeat: no-repeat;
}

.toplay_trans {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  row-gap: 0px;
  border: solid 0px #000;
  background-color: #d9e8ef;
  background-image: url("https://static.thenounproject.com/png/3330269-200.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.toplay_select_img {
  width: 120px;
  height: 80px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  row-gap: 3px;
  border: solid 5px #e2f01d;
  background-color: #d9e8ef;
}

.upload_toplays {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  border: solid 1px #272833;
  /* overflow: scroll; */
  flex-wrap: wrap;
}

.playlist_layout {
  height: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: stretch;
  /* gap: 5px; */
  padding: 0px 20px 10px 20px;
  /* border-radius: 15px; */
  /* border: solid 2px #272833; */
}

.playlist_main {
  height: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: stretch;
  /* gap: 5px; */
  padding: 0px;
}

.playlist_transition {
  height: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: stretch;
  /* gap: 5px; */
  padding: 0px;
}
