.Render-icon {
  width: 50%;
  /* height: 10%; */
}

.Ready_layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 65%;
  gap: 2vh;
}
.ReadyContent {
  display: flex;
  justify-content: center;
  align-items: center;

  /* height: 5vh; */
}

.ReadyContent img {
  width: 100%;
}

.ready_span {
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #e1e1e1;
}
