.ROOM-BODY-WebRTC {
  width: 20%;
  height: 100%;
  align-self: stretch;
  /* flex-grow: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  /* padding: 5px 10px; */
  /* background-color: #272731; */
  background-color: #000000;
}
.videoTagOff {
  height: 100%;
  width: 100%;
  position: absolute;
  visibility: hidden;
}

.CAMs {
  width: 100%;
  height: 100%;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.videoTag {
  height: 100%;
  width: 100%;
  position: absolute;
}
.imgTagOn {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}
.imgTagOff {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
/* .CamFrame {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  align-items: center;
  border: solid 1px #565656;
} */
.videoTagSpeaking {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  box-shadow: 0 0 0 3px skyblue inset;
  position: relative;
}
.videoTagNotSpeaking {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  box-shadow: 0 0 0 1px #565656 inset;
  position: relative;
}

.name_layout {
  height: 20px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.name_span {
  /* height: 20px; */
  flex-grow: 0;
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 1.4; */
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
